.App {
  text-align: center;
}

header {
  background-color: purple;
  color: white;
  font-size: 30px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

img {
  height: 150px;
  width: 150px;
  float: left;
  margin: 0 40px;
}

button {
  background-color: purple;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin: 10px auto;
  border: none;
}

input {
  margin:20px 10px;
  height: 20px;
  width: 300px;
  font-size: 20px; 
  font-weight: bold
}

.meme {
  position: relative;
  width: 90%;
  margin: auto;
}

.meme > h2 {
  position: absolute;
  width: 80%;
  text-align: center;
  color: white;
  letter-spacing: 1px;
}
 
.meme > img {
  width: 60%;
  height: 45%;
  margin: 0 20%;
}

.top {
  margin: 3% ;
  font-size: 30px;
}

.bottom {
  margin-top: 30%;
  font-size: 30px;
}